<div layout="column" layout-fill>
    <md-toolbar class="md-toolbar-tools">
        <div layout="row" layout-align="space-between start">
            <div layout="row" layout-align="start center">
                <md-button ng-click="toggleLeft()" style="" class="md-button-icon">
                    <ng-md-icon icon="{{clickIcon}}" style="fill: white" options="{{options}}" ng-click="clickIconMorph()"></ng-md-icon>
                </md-button>
                <div class="logo-toolbar"></div>
            </div>
        </div>
    </md-toolbar>


    <md-content flex layout-fill>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
            <md-content style="background: #ffffff !important;">
                <header class="nav-header">
                    <a class="accordion-logo">
                        <div class="logo-menu"></div>
                        <h1 class="accordion-logotype md-heading">{{sysName}}</h1>
                    </a>
                </header>
                <ul>
                    <li>
                        <md-button ng-click="" style="" class="md-button-icon">
                            <simple-morph sm-options="smOptions"></simple-morph>
                        </md-button>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>


        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" >

        </md-sidenav>
        <ui-view name="content" layout-fill>

        </ui-view>
    </md-content>
</div>

